/* .wrapper-items{
    height: 300px;
    overflow: scroll;
}

.material-symbols-outlined{
    font-size: 100px !important;
}

.left{
    float: left;
}

.right{
    width: 100px;
    height: 100px;
    object-fit: cover;
    float: right;
    margin-top: 200px;
    shape-outside: polygon(0 200px, 200px 200px, 200px 100%, 0 100%);
}

.molecul{
    shape-outside: url(./images/lion.png);
    float: right;
} */

div{
    background-color: rgb(23, 209, 215);
    border: 5px solid rgb(23, 209, 215);
    border-radius: 10%;
    width: max-content;
}
a{
    text-decoration: none;
    color:aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}