.wrapper-main5{
    margin: 200px 0 0 0;
    width: 1300px;
}

.main5{
    display: flex;
    justify-content: space-between;
}

div[wrapper-wrapper-main5-imgs]{
    display: flex;
}

div[main5-img1]{
    margin: 70px 20px;
}

div[names]{
    font-family: 'Ginora Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 24px;
    margin: 30px 60px;
    
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    
    color: #B8B8B8;
}

div[status]{
    font-family: 'Gilroy-Light';
    font-size: 16px;
    line-height: 14px;
    margin: 0 0 70px 90px;
    
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    
    color: #B8B8B8;
}

.main5-text-right{
    width: 506px;
    height: 613px;
    margin-top: 150px;
    padding: 50px;
    
    background: #232526;
}

img[main5-pattern]{
    margin: -130px 0 90px;
}

div[main5-genius-minds] > div{
    font-family: 'Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 74px;
    
    display: flex;
    align-items: center;
    text-transform: capitalize;
    
    color: #FFFFFF;
}

div[main5-we-are]{
    width: 360px;
    height: 72px;
    left: 906px;
    top: 4639px;
    margin: 30px 0 30px 0;
    
    font-family: 'Gilroy-Regular';
    font-size: 16px;
    line-height: 24px;
    
    display: flex;
    align-items: center;
    
    color: #B8B8B8;
}

@media screen and (min-width: 600px) and (max-width: 1080px) {
    .wrapper-main5{
        margin: 200px 0 0 0;
        width: 1300px;
    }
    
    .main5{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    div[wrapper-wrapper-main5-imgs]{
        display: flex;
        background: #232526;
        padding-top: 140px;
        width: 100%;
    }
    
    div[main5-img1]{
        margin: -70px 20px;
    }
    
    div[names]{
        font-family: 'Ginora Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 24px;
        margin: 30px 60px;
        
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: capitalize;
        
        color: #B8B8B8;
    }
    
    div[status]{
        font-family: 'Gilroy-Light';
        font-size: 16px;
        line-height: 14px;
        margin: 0 0 70px 90px;
        
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: capitalize;
        
        color: #B8B8B8;
    }

    div[line-main5]{
        display: none;
    }
    
    .main5-text-right{
        width: 100%;
        height: 613px;
        margin-top: 0;
        padding: 50px;
        
        background: #232526;
    }
    
    img[main5-pattern]{
        display: none;
    }
    
    div[main5-genius-minds] > div{
        font-family: 'Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 62px;
        line-height: 74px;
        
        display: flex;
        align-items: center;
        text-transform: capitalize;
        
        color: #FFFFFF;
    }
    
    div[main5-we-are]{
        width: 360px;
        height: 72px;
        left: 906px;
        top: 4639px;
        margin: 30px 0 30px 0;
        
        font-family: 'Gilroy-Regular';
        font-size: 16px;
        line-height: 24px;
        
        display: flex;
        align-items: center;
        
        color: #B8B8B8;
    }
}
