div[header]{
    display: flex;
    justify-content: space-between;

    height: 80px;
    box-shadow: 0 10px 9px -9px #888;
    margin-bottom: 20px;
}

div[header] > div{
    padding: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div[innodom1]{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

div[right-text-header]{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

span[community]{
    color: #0077ff;
}

div[wrapper]{
    display: flex;
}

div[text]{
    display: flex;
    justify-content: center;
    width: 417px;
    height: 314px;
    margin: 0 5px 5px;

    border-top: 3px solid #0077ff;
    border-bottom: 3px solid #000;
}

div[text] > div{
    margin-top: 60px;
}

div[text] > div > div{
    display: flex;
    justify-content: center;
    margin: 50px;
}

div[innodom2]{
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

div[button]{
    margin-top: 10px;
    background-color: #0077ff;
    height: 50px;
    width: 100%;
}

@media (max-width: 800px) {
    div[wrapper]{
        display: block;
    }
    div[button]{
        width: 427px;
    }
}

@supports (box-shadow: 10px 5px 5px blue) {  
    div[button]{
        width: 100%;
    }
}
